.chart h3{
            color: black !important;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            display: flex;
            align-items: center;
            font-family: "Plus Jakarta Sans";
}