.search {
    position: relative;
    display: inline-block;
  }
  
  .search:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid gray;
    background-color: transparent;
    z-index: -1;
    border-radius: 5px;
  }
  .icons{
    padding-right: 3px !important;
  }
  .dashboardh {
    color: rgb(0 0 0 / 82%) !important;
  }

  @media only screen and (max-width: 600px) {
    .icons {
      padding-right: 0;
    }
  }